<div class="my-container mat-typography">
  <!-- <ng-template #spinner>
    <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner strokeWidth="8" [diameter]="64">
      </mat-spinner>
      <span>Buscando ...</span><br>
    </div>
  </ng-template> -->
  <!-- <div *ngIf="(user$|async) as user;else spinner" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center"
    fxLayoutGap="20px">
    <mat-card fxFlex="0 1 calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-card-header mat-title-group>
        <div class="float-end">
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start end">
            <div class="badge bg-success"> {{user.role}} </div>
            <div class="badge bg-danger" *ngIf="user.isAdmin">Administrador</div>
          </div>
        </div>
        <img matCardAvatar class="img-fluid rounded-circle d-print-none" alt="Usuario conectado"
          src="{{user.photoUrl?user.photoUrl:user.authPhotoUrl}}" />
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user.primaryEmail }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="user.role==='Alumnos'" fxLayout="row">
          <div class="col-4">Grado:&nbsp;</div>
          <div class="col-6">{{user.grade}}</div>
        </div>
        <div fxLayout="row">
          <div class="col-4">Genero:&nbsp;</div>
          <div class="col-6">{{user.gender|titlecase}}</div>
        </div>
        <div fxLayout="row">
          <div class="col-4">F. de nacimiento:&nbsp;</div>
          <div class="col-6">{{user.dob}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <div>Conoce las <a routerLink="/policy">políticas de privacidad </a>de tus datos.</div>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->
  <aside *ngIf="(user$|async) as user;" class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <img class="img-fluid rounded-circle d-print-none hoverZoomLink" alt="Usuario conectado"
        src="{{user.authPhotoUrl?user.authPhotoUrl:user.photoUrl}}" />

      <!-- the username -->
      <h1>
        {{ user.displayName }}
      </h1>
      <h2>{{ user.username }}</h2>
      <!-- and role or location -->
      <h2>
        {{ user.primaryEmail }}
      </h2>

      <!-- {{user|titlecase}} -->

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

      <p>
        Conoce las <a [routerLink]="['/policy']">políticas de privacidad </a>de tus datos.
      </p>

    </div>
    <!-- some social links to show off -->
    <ul class="profile-social-links">
      <li>
        <a target="_blank" href="https://www.facebook.com/creativedonut">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://twitter.com/dropyourbass">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/vipulsaxena">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.behance.net/vipulsaxena">

          <i class="fa fa-behance"></i>
        </a>
      </li>
    </ul>
  </aside>