<div class="my-container">
  <ng-template #spinner>
    <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner strokeWidth="8" [diameter]="64">
      </mat-spinner>
      <span>Buscando ...</span><br>
    </div>
  </ng-template>
  <div *ngIf="(user$|async) as user;else spinner" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center"
    fxLayoutGap="20px">
    <mat-card fxFlex="0 1 calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-card-header mat-title-group>
        <div class="float-end">
          <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start end">
            <div class="badge bg-success"> {{user.role}} </div>
            <div class="badge bg-danger" *ngIf="user.isAdmin">Administrador</div>
          </div>
        </div>
        <img matCardAvatar class="img-fluid rounded-circle d-print-none" alt="Usuario conectado"
          src="{{user.photoUrl?user.photoUrl:user.authPhotoUrl}}" />
        <mat-card-title>{{ user.displayName }}</mat-card-title>
        <mat-card-subtitle>{{ user.primaryEmail }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="user.role==='Alumnos'" fxLayout="row">
          <div class="col-4">Grado:&nbsp;</div>
          <div class="col-6">{{user.grade}}</div>
        </div>
        <div fxLayout="row">
          <div class="col-4">Genero:&nbsp;</div>
          <div class="col-6">{{user.gender|titlecase}}</div>
        </div>
        <div fxLayout="row">
          <div class="col-4">F. de nacimiento:&nbsp;</div>
          <div class="col-6">{{user.dob}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <div>Conoce las <a routerLink="/policy">políticas de privacidad </a>de tus datos.</div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>