.sidenav .mat-toolbar {
  padding-top: 50px;
  background: inherit;
}

.sidenav-container {
 min-height: calc(100vh - 55px);  
  // height: calc(100%);
}

.sidenav {
  // padding-left: 20px;
   border-radius: 0px 5px 5px 0px;
  width: 180px;
  // font-size: x-large;
}

.main-content {
    //min-height: calc(100vh - 95px);
   //height: calc(100% - 95px);
}