<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav class="sidenav d-print-none" [fixedInViewport]='false'
    [attr.role]="isHandset ? 'dialog' : 'navigation'" [@onSideNavChange]="sideNavState ? 'close' : 'open'"
    [mode]="isHandset ? 'over':'side'" [opened]="isHandset === false">
    <div role="navigation" class="column-layout space-between fx-flex-fill">
      <mat-nav-list >
        <mat-list-item style="margin-top: 20px;margin-bottom: 20px;" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="leftSidenav.close()">
          <mat-icon class="blue" matListItemIcon >home</mat-icon>
          <span matListItemTitle class="app-name" >&nbsp; Inicio</span>
        </mat-list-item>
        <mat-list-item style="margin-top: 20px;margin-bottom: 20px;" [routerLink]="['contest']" routerLinkActive="router-link-active" (click)="leftSidenav.close()">
          <mat-icon class="blue" matListItemIcon >workspace_premium</mat-icon>
          <span matListItemTitle class="app-name" >&nbsp; Concurso</span>
        </mat-list-item>
        <mat-list-item style="margin-top: 20px;margin-bottom: 20px;" [routerLink]="['editor']" routerLinkActive="router-link-active" (click)="leftSidenav.close()">
          <mat-icon class="blue" matListItemIcon>auto_stories</mat-icon>
          <span matListItemTitle class="app-name" >&nbsp; Vocabulario</span>
        </mat-list-item>
      </mat-nav-list>
      <!-- <mat-nav-list > -->
       <!--  <mat-accordion>
          <mat-expansion-panel [class.mat-elevation-z0]="true" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false" hideToggle="panelOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="blue">admin_panel_settings</mat-icon>
                <div matLine [@animateText]="linkText ? 'show' : 'hide'">&nbsp; Usuarios</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <mat-nav-list dense>
                <mat-list-item [routerLink]="['u']" routerLinkActive="router-link-active" (click)="leftSidenav.close()">
                  <mat-icon class="blue" matListItemIcon>people_alt</mat-icon>
                  <div matListItemTitle [@animateText]="linkText ? 'show' : 'hide'">Escuela</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['admin']" routerLinkActive="router-link-active" (click)="leftSidenav.close()">
                  <mat-icon class="blue" matListItemIcon>domain</mat-icon>
                  <div matListItemTitle [@animateText]="linkText ? 'show' : 'hide'">Google</div>
                </mat-list-item>
              </mat-nav-list>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>-->
        <!-- <mat-list-item class="big-icon" (click)="onSidenavToggle()">
          <mat-icon class="blue" matListItemIcon> {{sideNavState ? 'arrow_back_ios' : 'arrow_forward_ios'}}</mat-icon>
        </mat-list-item> -->
      <!-- </mat-nav-list>  -->
    </div>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="(onSideNavChange && !isHandset) ? 'open': 'close'">
    <app-main-component ></app-main-component>
    <app-footer class="sticky-bottom"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>