.sidenav .mat-toolbar {
  padding-top: 54px;
  background: inherit;
}

.sidenav-container {
  // height: calc(100vh - 54px);
height: 100vh;
}

.sidenav {
  padding-top: 54px;
  padding-left: 20px;
  border: none;
  width: 180px;
  // font-size: x-large;
}

.big-icon {
  font-size: 3rem;
}

.app-name {
  color: #0060a0;
  font-family: "Comfortaa";
  font-weight: 800;
}