<div class="background">
<div class="my-container">
  <mat-accordion *ngFor="let wordlist of wordlists$ | async">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> <span [innerText]="wordlist.level"></span></mat-panel-title>
        <mat-panel-description> @if (wordlist.words!.length>=1) {
          {{wordlist.words!.length}} {{(wordlist.words!.length===0)?'':'palabra'}}{{(wordlist.words!.length
          <=1)?'':'s'}}. } </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-listbox #chipGrid aria-label="Wordlist words">
        @for (word of wordlist.words; track $index) {
        <mat-chip-row (removed)="remove(word)" [editable]="true" (edited)="edit(word, $event)"
          [aria-description]="'press enter to edit ' + word.label">
          <!-- <button matChipEdit [attr.aria-label]="'edit ' + word.label">
            <mat-icon>edit</mat-icon>
          </button> -->
          {{word.id}} {{word.label}}
          <!-- <button matChipRemove [attr.aria-label]="'remove ' + word.label">
            <mat-icon>cancel</mat-icon>
          </button> -->
        </mat-chip-row>
        }
      </mat-chip-listbox>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>