<mat-icon mat-dialog-close>close</mat-icon>
<div style="text-align: center;padding: 20px;">
  <mat-icon>record_voice_over</mat-icon><br>
  <app-word [word]="data.input"></app-word>
</div>
<mat-dialog-actions align="center">
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <mat-icon style="color: #0060a0;" mat-icon-button type="button" (click)="nextWord()">skip_previous</mat-icon>
  <mat-icon style="color: #0060a0;" mat-icon-button type="button" (click)="repeatWord()">replay</mat-icon>
  <mat-icon style="color: #0060a0;" mat-icon-button type="button" (click)="nextWord()">skip_next</mat-icon>
</mat-dialog-actions>