<footer style="height: 30px;" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
  class="no-copy mat-typography">
  <div style="padding-left: 20px;"> 2025 &copy; Julio Melchor</div>
  <div>
    <a mat-icon-button href="https://github.com/jcmelchorp" target="_blank" aria-hidden="false">
      <!-- <fa-icon [icon]="github" size="lg"></fa-icon> -->
    </a>
    <a mat-icon-button href="https://twitter.com/Escuela_RDS" target="_blank" aria-hidden="false">
      <!-- <fa-icon [icon]="twitter" size="lg"></fa-icon> -->
    </a>
    <a mat-icon-button href="https://www.facebook.com/RDSLaFallito" target="_blank" aria-hidden="false">
      <!-- <fa-icon [icon]="facebook" size="lg"></fa-icon> -->
    </a>
    <a mat-icon-button href="https://www.youtube.com/channel/UCaLHQNiiw1y1yKkON61mGTw" target="_blank"
      aria-hidden="false">
      <!-- <fa-icon [icon]="faYoutube" size="lg"></fa-icon> -->
    </a>
  </div>
</footer>