.word-container {
    display: inline-flex;
    gap: 20px; /* Espaciado entre letras (opcional) */
  }
  
  .letter {
    text-decoration: underline;
    text-underline-offset: 35px; /* Ajuste opcional para la distancia del subrayado */
    font-family: 'Londrina Shadow';
    font-size: 8rem;
  }

//   :host {
//     display: grid;
//     justify-content: center;
//     align-items: center;
//     background-color: yellow;
//     position: absolute;
//     top: 10em;
//     left: 20em;
//     height: 10em;
//     width: 20em;
//     box-shadow: 0 0 5px rgb(0, 0, 0, 0.27);
// }