.word-container {
    display: inline-flex;
    gap: calc(1px + 1vw); /* Espaciado entre letras (opcional) */
  }
  
  .letter {
    text-decoration: underline;
    text-align: center;
    text-underline-offset: calc(10px + 1.5vw); /* Ajuste opcional para la distancia del subrayado */
    font-family: 'Londrina Shadow';
    font-weight: 900;
    color: var(--color);
    font-size: calc(2rem + 5vw);
  }

