$bg-main: #2e83d8;
$primary-color: #0060a0;
$primary-dark-color: #029aff;
$success-color: #207000;
$brown-color: #5a4a14;
$orange-color: #d34300;
$border-color: #dcdcdc;
$text-shadow-color: #d2d2d2;
$primary-color-dark: #004777;
$primary-color: #0060a0;
$primary-color-light: rgba(79, 152, 212, 0.75);
$primary-color-text: #ffffff;
$accent-color: #8bc34a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$text-shadow-color: #a1a1a1;
$text-hover-color: #f5f5f5;
$divider-color: #bdbdbd;
$gray-chateau-color: #abb5c4;
$rds-logo-color: #0060a0;
$rds-logo-alpha-color: #0060a080;
$bg-main: #2c72b8;
$primary-color: #006086;
$primary-dark-color: #004561;
$success-color: #207000;
$brown-color: #5a4a14;
$orange-color: #d34300;
$border-color: #dcdcdc;
$text-shadow-color: #a1a1a1;
$white-color: rgb(255, 255, 255);
$black-color: #000;
$deep-blue-color: #002d3f;
$teal-color: #00bcbc;
$dark-gradient-color: linear-gradient(180deg, #2e4e5c, #142329);
$william-color: #375a69;
$plantation-color: #253c45;
$plantation-dark-color: #2e4e5c;
$aqua-spring-color: #f5fcfc;
$pale-sky-color: #49535e;
$blue-wood-color: #40555e;
$pine-green-color: #007a7a;
$blue-stone-color: #006161;
$gold-color: #f4ba00;
$catskill-white-color: #f3f6f9;
$mystic-color: #dceaef;
$off-water-color: #e5f8f8;
$alto-color: #dce2e5;
$alto-50-color: #2ab8ffb9;
$gray-chateau-color: #abb5c4;
$limeade-color: #358500;
$punch-color: #dd3131;
$venetian-red-color: #d0021b;
$dixie-color: #e29619;
$cerulean-color: #009cdb;
$oslo-gray-color: #808e93;
$opal-color: #aec7cb;
$concrete-color: #f8f8f8;
$ziggurat-color: #c0d9e4;
$baby-blue-color: rgb(137, 222, 255);
$link-water-color: #f1f6fb;
$light-shade-of-cyan-color: #b6d0da;
$purple-color: #6500a0;