@use "@angular/material" as mat;
@use "sass:map";
//@import "@angular/material/theming";
$enable-negative-margins: true;

@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Fredoka+One&family=Fredoka&family=Sarabun&family=Londrina+Shadow&family=Londrina+Sketch&family=Miltonian&family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.elevation-card {
  @include mat.elevation-transition();
  @include mat.elevation(2);
  
  &:hover {
    @include mat.elevation(8);
  }
}


$typography-config: mat.define-typography-config(
  $font-family: '"Fredoka", "Miltonian", sans-serif',
  $headline-1: mat.define-typography-level(124px, 124px, 600, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 400),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(18px, 20px, 400),
  $body-2: mat.define-typography-level(16px, 20px, 400),
  $subtitle-2: mat.define-typography-level(30px, 28px, 400),
  $caption: mat.define-typography-level(16px, 20px, 400),
  $button: mat.define-typography-level(16px, 14px, 500),
);
@include mat.all-component-typographies($typography-config);
@include mat.typography-hierarchy($typography-config); // 👈 Added

/* Let's assign the custom property 'input' that we defined above */
@mixin typography($theme) {
  $custom-typography-config: mat.get-typography-config($theme);
  
  .mat-mdc-form-field {
      @include mat.typography-level($custom-typography-config, 'input')
  }
}

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    //Only include `typography` and `density` in the default dark theme.
    typography: $typography-config,
    //mat.define-typography-config($font-family: "Londrina Sketch"),
    density: 0,
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}
@include mat.all-component-colors($light-theme);

.backDrop {
  background-color:rgba(50,50,50,.3);
  backdrop-filter: blur(10px);
}


// .mat-mdc-standard-chip {
//   --mdc-chip-label-text-color: #fff;
// }
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 10px;
}
.mat-form-field-appearance-fill .mat-mdc-form-field-infix {
  padding-top: 20px !important;
 // height: 10px !important;

}
.mat-form-field-appearance-fill .mat-mdc-floating-label {
 // margin-top: -1vh !important;
  // margin-bottom: -1vh !important;
  height: -8px !important;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.blue { 
  color: #0060a0;
}   


// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  // font-size: 30px;
  font-family: "Material Icons Outlined", "Material Icons";
  .mat-badge-content {
    font-family: "Fredoka";
  }
}

//fxLayout="column"
.column-layout {
  display: flex;
  flex-direction: column;
}

//fxLayout="row"
.row-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

//fxLayout="row wrap"
.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//fxFlex="100%"
.flex-item-100 {
  flex: 1 1 100%;
}

//fxFlex="calc(50% - 10px)"
.flex-item-calc-50 {
  flex: 1;
  width: calc(50% - 10px);
}

//fxFlex="nogrow"
.flex-item-nogrow {
  flex-grow: 0;
}
.fx-flex-fill {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

//fxLayoutAlign="space-between"
.space-between {
  display: flex;
  justify-content: space-between;
}

//fxLayoutAlign="space-between center"
.center-space-between {
  display: flex;
  justify-content: center;
  align-items: space-between;
}
//fxLayoutAlign="start stretch"
.start-stretch {
  display: flex;
  justify-content: stretch;
  align-items: start;
}

//fxLayoutAlign="center space-between"
.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//fxLayoutAlign="space-between stretch"
.space-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
//fxLayoutAlign="center center"
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//fxLayoutGap="10px"
.flex-gap {
  display: flex;
  gap: 10px;
}

// //fxLayout.gt-xs
// @media (min-width: 480px) {
//   .your-setting {
//     ...
//   }
// }

// //fxLayout.lt-sm
// @media (max-width: 600px) {
//   .your-setting {
//     ...
//   }
// }

.text-wrap-right {
  float: right;
  margin: 5px;
}

.text-wrap-left {
  float: left;
  margin: 5px;
}
