@use "@angular/material" as mat;
//@import "@angular/material/theming";
$enable-negative-margins: true;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto&family=Fredoka+One&family=Fredoka&family=Love+Ya+Like+A+Sister&family=Sarabun&family=Londrina+Shadow&family=Londrina+Sketch&family=Miltonian&family=Modak&display=swap");

$typography-config: mat.define-typography-config(
  $font-family: '"Fredoka", "Comfortaa", sans-serif',
);

//$typography-config: mat.define-typography-config();
@include mat.typography-hierarchy($typography-config); // 👈 Added

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    //Only include `typography` and `density` in the default dark theme.
    typography: $typography-config,
    //mat.define-typography-config($font-family: "Londrina Sketch"),
    density: 0,
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}
@include mat.all-component-colors($light-theme);


.mdc-list-item--with-leading-icon .mdc-list-item__start.blue { 
  color: #0060a0;
}   


// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 26px;
  font-family: "Material Icons Outlined", "Material Icons";
  .mat-badge-content {
    font-family: "Fredoka";
  }
}

.mat-mdc-form-field-infix {
  padding-top: 20px !important;
  // height: 10px !important;
}
.mat-mdc-floating-label {
  // margin-top: -1vh !important;
  // margin-bottom: -1vh !important;
  height: 15px !important;
}

//fxLayout="column"
.column-layout {
  display: flex;
  flex-direction: column;
}

//fxLayout="row"
.row-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

//fxLayout="row wrap"
.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

//fxFlex="100%"
.flex-item-100 {
  flex: 1 1 100%;
}

//fxFlex="calc(50% - 10px)"
.flex-item-calc-50 {
  flex: 1;
  width: calc(50% - 10px);
}

//fxFlex="nogrow"
.flex-item-nogrow {
  flex-grow: 0;
}
.fx-flex-fill {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

//fxLayoutAlign="space-between"
.space-between {
  display: flex;
  justify-content: space-between;
}

//fxLayoutAlign="space-between center"
.center-space-between {
  display: flex;
  justify-content: center;
  align-items: space-between;
}
//fxLayoutAlign="start stretch"
.start-stretch {
  display: flex;
  justify-content: stretch;
  align-items: start;
}

//fxLayoutAlign="center space-between"
.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//fxLayoutAlign="space-between stretch"
.space-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
//fxLayoutAlign="center center"
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//fxLayoutGap="10px"
.flex-gap {
  display: flex;
  gap: 10px;
}

// //fxLayout.gt-xs
// @media (min-width: 480px) {
//   .your-setting {
//     ...
//   }
// }

// //fxLayout.lt-sm
// @media (max-width: 600px) {
//   .your-setting {
//     ...
//   }
// }

.text-wrap-right {
  float: right;
  margin: 5px;
}

.text-wrap-left {
  float: left;
  margin: 5px;
}
