@use "@angular/material" as mat;
@include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&family=VT323&family=Bungee+Shade&family=Comfortaa&family=Fredoka+One&family=Fredoka&family=Sarabun&family=Londrina+Shadow&family=Londrina+Sketch&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.elevation-card {
  @include mat.elevation-transition();
  @include mat.elevation(2);
  
  &:hover {
    @include mat.elevation(8);
  }
}


$typography-config: mat.define-typography-config(
  $font-family: '"Fredoka", "Sixtyfour", sans-serif',
  $headline-1: mat.define-typography-level(124px, 124px, 600, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 400),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(18px, 20px, 400),
  $body-2: mat.define-typography-level(16px, 20px, 400),
  $subtitle-2: mat.define-typography-level(30px, 28px, 400),
  $caption: mat.define-typography-level(16px, 20px, 400),
  $button: mat.define-typography-level(16px, 14px, 500),
);
@include mat.all-component-typographies($typography-config);
@include mat.typography-hierarchy($typography-config); // 👈 Added

/* Let's assign the custom property 'input' that we defined above */
@mixin typography($theme) {
  $custom-typography-config: mat.get-typography-config($theme);
  
  .mat-mdc-form-field {
      @include mat.typography-level($custom-typography-config, 'input')
  }
}

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
    ),
    //Only include `typography` and `density` in the default dark theme.
    typography: $typography-config,
    //mat.define-typography-config($font-family: "Londrina Sketch"),
    density: 0,
  )
);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}
// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
}
@include mat.all-component-colors($light-theme);

$enable-negative-margins: true;
$enable-negative-padding: true;

.backDrop {
  background-color:rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}
// .mat-mdc-standard-chip {
//   --mdc-chip-label-text-color: #fff;
// }
.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 10px;
 --mdc-dialog-container-elevation-shadow: inset -5px -5px 0 0 #0060a0, 0 0 15px 5px #00000096;
}

.mat-form-field-appearance-fill .mat-mdc-form-field-infix {
  padding-top: 20px !important;
 // height: 10px !important;

}
.mat-form-field-appearance-fill .mat-mdc-floating-label {
 // margin-top: -1vh !important;
  // margin-bottom: -1vh !important;
  height: -8px !important;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.blue { 
  color: #0060a0;
}   


// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}



.mat-mdc-standard-chip {

  --mdc-chip-container-shape-family: rounded;
  --mdc-chip-container-height: 1.3em;
  --mdc-chip-container-shape-radius: 3px 3px 3px 3px ;
  /* typography */
  --mdc-chip-label-text-font: "VT323";
  --mdc-chip-label-text-line-height: auto;
  --mdc-chip-label-text-size: 24px;
  --mdc-chip-label-text-tracking: -0.05em;
  --mdc-chip-label-text-weight: 500;
}
.material-icons {
  // font-size: 30px;
  font-family: "Material Icons Outlined", "Material Icons";
  .mat-badge-content {
    font-family: "Sixtyfour", sans-serif;
  }
}




.my-container {
  width: 100%;
  max-width: 1200px; /* Maximum width of the container */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .my-container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .my-container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .my-container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .my-container {
      max-width: 1140px;
  }
}