<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row class="elevation-card" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      @if (isHandset) {
      <button type="button" aria-label="mostrar menu" mat-icon-button (click)="toggleSidenavLeft($event)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <button type="button" aria-label="Inicio" mat-icon-button [routerLink]="['/']">
        <img class="rounded-circle" src="/assets/images/rds-bee-logo-transparent.png" />
      </button>
      @if (!isHandset) {
      <a type="button" style="background-color: transparent;" aria-label="Concurso 2025" mat-flat-button
        [routerLink]="['/contest']">
        Concurso 2025
      </a>
      <a type="button" style="background-color: transparent;" aria-label="Preguntas frecuentes" mat-flat-button
        [routerLink]="['/editor']">
        Vocabulario
      </a>
      }
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button type="button" mat-icon-button (click)="toggleDarkTheme(isDarkTheme)">
        <mat-icon class="rds-icon" [matTooltip]="(isDarkTheme$|async)?'Modo oscuro':'Modo claro'"
          aria-label="Alternar tema">{{(isDarkTheme$|async)?'nightlight':'light_mode'}}</mat-icon>
      </button>
      <button type="button" mat-icon-button onclick="var el = document.querySelector('body'); el.requestFullscreen();">
        <mat-icon class="rds-icon" matTooltip="Pantalla completa">fullscreen</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<ng-content #progressBar></ng-content>