.fix-top {
  // background-color: transparent !important;
  // position: relative;
  // top: 0;
  z-index: 100;
}
  
  

  .mat-toolbar {
    min-height: 57px !important;
    .mat-toolbar-row {
      max-height: 57px !important;
    }
  }
  a:hover {
    color: white;
  }

