<mat-toolbar [ngClass]="hide ? 'hideToolbar' : 'showToolbar'" class="hideShowToolbar fix-top">
  <mat-toolbar-row class="space-between-center" >
    <div fxLayout="row" fxLayoutAlign="space-evenly end" fxLayoutGap="5px">
      <button  type="button" aria-label="mostrar menu" mat-icon-button
      (click)="toggleSidenavLeft($event)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
      <a routerLink="/"><img src="/assets/images/rds-bee-logo-transparent.png" height="40px" /></a>
      <div class="app-name">RDS Spelling Bee</div>
    </div> 
      <div fxLayout="row" fxLayoutAlign="space-evenly end" fxLayoutGap="20px">
        <mat-icon class="rds-icon"  [matTooltip]="(isDarkTheme$|async)?'Modo oscuro':'Modo claro'" type="button"
        aria-label="Alternar tema" mat-icon-button
        (click)="toggleDarkTheme(isDarkTheme)">{{(isDarkTheme$|async)?'nightlight':'light_mode'}}</mat-icon>
      <!-- <span style="font-size:50%">{{ (isDarkTheme$|async)?'on':'off' }}</span> -->
      <!-- <button > -->
      <mat-icon class="rds-icon" matTooltip="Pantalla completa" type="button" mat-icon-button
        onclick="var el = document.querySelector('body'); el.requestFullscreen();">fullscreen</mat-icon> 
      </div>
  </mat-toolbar-row>
  </mat-toolbar>
  <ng-content #progressBar></ng-content>