<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar ><span routerLink="/">RDS Spelling Bee</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/editor" routerLinkActive="router-link-active" >Listas</a>
      <a mat-list-item routerLink="/contest" routerLinkActive="router-link-active">Concurso</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [isHandset]="(isHandset$|async)">
      @if (loading) {
      <mat-progress-bar class="progress-bar" name="progressBar" mode="query" color="primary"></mat-progress-bar>
      }
    </app-header>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
