
<ngx-spinner #spinner bdColor="rgba(0,0,0,0.95)" size="large" color="#0060a0" type="ball-atom" [fullScreen]="true">
  <p class="mat-h1" style="color: #dfdfdf;"> Your word is... </p>
</ngx-spinner>
<div [ngClass]="{'dark-theme': isDarkTheme|async}"  >
  <app-header class="d-print-none" [user]="(user$|async)!" [isHandset]="(isHandset$|async)!"
  [isAdmin]="(isAdmin$|async)!" [isOnline]="(isOnline$|async)!">
    <mat-progress-bar class="progress-bar" name="progressBar" *ngIf="loading" mode="query" color="primary"></mat-progress-bar>
  </app-header>
  <app-sidenav  [isHandset]="(isHandset$|async)!" [isOnline]="(isOnline$|async)!"></app-sidenav>
</div>