::ng-deep .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  flex-wrap: wrap-reverse;
  width: 95vw;
}
.paginator {
  margin: 0 !important;
  background-color: transparent !important;
}

.buttons-container {
 padding-top: 10px;
 button {
  margin-right: 5px;
 }
}



.school-background {
  // width: fit-content;
    // min-width: 50%;
    min-height: 250px;
    background: url("/assets/images/rds-draw02.svg") no-repeat;
    background-position:bottom;
    background-size: cover;
  }
// .word-done {
//  // background-color: rgb(140, 98, 0) !important;
//   //--mdc-chip-label-text-color: #fff;

//   // --mdc-chip-label-text-size: 0.8em;
//   //  --mdc-chip-label-text-weight:500;
// }

.my-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
 // height: 100%;
}

// .word-pending {
//  // background-color: rgb(245, 245, 245) !important;
//  // --mdc-chip-label-text-color: #396601;
//   //  --mdc-chip-label-text-weight:500;
//   // --mdc-chip-label-text-size: 0.8em;
// }

.yellow-text {
  color: rgb(204, 170, 0) !important;
}

.contest-card {
  padding: 5px;
  border-radius: 10px;
}

.big-icon {
  font-size: 6rem;
}

.custom-dialog-overlay {
  filter: blur(20px);
  background-color: #212121c4 !important;
  opacity: 0.9;
}
