<div class="my-container" fxLayout.gt-md="row-wrap" fxLayoutAlign.gt-md="space-between center" fxLayoutGap="50px">
  <div fxLayout="column" fxLayoutAlign="space-between center">

    <img src="/assets/images/rds-bee-logo-transparent.png" height="120px" [@enter5]
      (@enter5.done)="animationState = !animationState" />

    <div style="min-width:250px;" class="view-title" [@enter1] (@enter1.done)="animationState = !animationState"
      [@rubberBand]="animationState">
      Spelling Bee</div>

    <div fxLayout="row">
      <div style="margin-top: -6px;" class="view-subtitle" [@enter2] (@enter2.done)="animationState = !animationState"
        [@hueButton]="hueBtnState" (@hueButton.done)="hueBtnState = !hueBtnState">Contest
      </div>
      <div style="margin-top: -10px;" class="year" [@enter4] (@enter4.done)="animationState = !animationState">2025
      </div>
    </div>

    <mat-form-field appearance="fill" [@enter3] (@enter3.done)="animationState = !animationState">
      <mat-label>Grado o nivel</mat-label>
      <mat-select (selectionChange)="onGradeChange($event);disableSelect=true" [disabled]="disableSelect">
        @for (level of levels; track level) {
        <mat-option [value]="level">{{level}}</mat-option>
        }
      </mat-select>
      <mat-icon class="rds-icon" matSuffix>school</mat-icon>
    </mat-form-field>
    @if (disableSelect) {
    <button mat-fab extended type="button" (click)="wordFlow()" cdkFocusInitial [@hueButton]="hueBtnState"
      (@hueButton.done)="hueBtnState = !hueBtnState" color="primary"> <mat-icon>hearing</mat-icon>
      Play word </button>
    }
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    @if (disableSelect && (wordlist$|async) && dataSource.data ) {
    @if (wordsCount > 0) {
    <mat-chip-set aria-label="Word selection">
      <div fxLayout="row wrap" fxLayoutAlign="center stretch">
        @for (word of filteredData; track $index) {<mat-chip class="elevation-card chip-id" #chipRef="matChip"
          (click)="word.staged=!word.staged" [ngClass]="word.staged ? 'word-done' : 'word-pending'">{{ word.id!
          }}</mat-chip>}
      </div>
    </mat-chip-set>
    <mat-paginator class="paginator" #paginator [length]="dataSource.filteredData.length"
      [pageSize]="dataSource.data.length" (page)="linkListToPaginator($event)" [pageSizeOptions]="pageArray"
      showFirstLastButtons aria-label="Select channel"></mat-paginator>
    <button mat-button type="button" (click)="wordFlow()" color="default"> <mat-icon>autorenew</mat-icon>
      Comenzar de nuevo</button>
    }
    @else if (wordsCount === 0) {
    <mat-card class="contest-card">
      <div fxLayout="row-wrap" fxLayoutAlign="center center">
        <h2 class="text-center">
          No encontré resultados.
        </h2>
      </div>
    </mat-card>
    }
    }
  </div>
</div>