.contest-card {
    padding: 10px;
    border-radius: 10px;
  }

  .big-icon {
    font-size: 6rem;
  }


  .custom-dialog-overlay {
    filter: blur(20px);
    background-color: #212121c4 !important;
    opacity: 0.9 ;
  }