     <form [formGroup]="filterValues">
        <mat-form-field appearance="outline">
            <mat-label>Grado</mat-label>
            <mat-select formControlName="levelKey">
                <mat-option *ngFor="let key of levelKeys" [value]="key">
                    {{key }}
                </mat-option>
                <!-- <mat-option [value]="''">Todas</mat-option> -->
                <!-- @for (key of levelKeys; track $index) {
                <mat-option [value]="key">
                </mat-option>
                } -->
            </mat-select>
            <mat-icon matSuffix>public</mat-icon>
        </mat-form-field>
    </form>
    <app-wordlist [object]="(wordlist$|async)!">
    </app-wordlist>
