::ng-deep .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  flex-wrap: wrap-reverse;
  width: 95vw;
}
.paginator {
  margin: 0 !important;
  background-color: transparent !important;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(24, 93, 167) 50%, rgb(56, 64, 69) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.5);
  border-radius:5em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.buttons-container {
 padding-top: 10px;
 button {
  margin-right: 5px;
 }
}

.contest-container {
  width: 100%;
   max-width: 1300px; /* Maximum width of the container */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.school-background {
  // width: fit-content;
    // min-width: 50%;
    min-height: 220px;
    background: url("/assets/images/rds-draw02.svg") no-repeat;
    background-position:center;
    background-size: contain;
  }
// .word-done {
//  // background-color: rgb(140, 98, 0) !important;
//   //--mdc-chip-label-text-color: #fff;

//   // --mdc-chip-label-text-size: 0.8em;
//   //  --mdc-chip-label-text-weight:500;
// }

// .word-pending {
//  // background-color: rgb(245, 245, 245) !important;
//  // --mdc-chip-label-text-color: #396601;
//   //  --mdc-chip-label-text-weight:500;
//   // --mdc-chip-label-text-size: 0.8em;
// }

.yellow-text {
  color: rgb(204, 170, 0) !important;
}

.contest-card {
  padding: 5px;
  border-radius: 10px;
}

.big-icon {
  font-size: 6rem;
}

.custom-dialog-overlay {
  filter: blur(20px);
  background-color: #212121c4 !important;
  opacity: 0.9;
}
