<mat-icon mat-dialog-close>close</mat-icon>
<mat-dialog-content >
  <div style="text-align: center;">
    <mat-icon>record_voice_over</mat-icon>
    <p>{{id}}</p>
    <br>
    <br>
    <app-word [word]="label"></app-word>
    <br>
    <br>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button style="margin: 15px;" color="default" [matTooltip]="'Ejemplo'"    mat-mini-fab type="button" (click)="useInSentence()"> <mat-icon class="rds-icon">psychology</mat-icon></button>
  <button style="margin: 15px;" color="default" [matTooltip]="'Repetir'"    mat-mini-fab type="button" (click)="repeatWord()"> <mat-icon class="rds-icon">replay</mat-icon></button>
  <button style="margin: 15px;" color="default" [matTooltip]="'Definición'" mat-mini-fab type="button" (click)="defineWord()"> <mat-icon class="rds-icon">auto_stories</mat-icon></button>
</mat-dialog-actions>