<mat-icon mat-dialog-close>close</mat-icon>
<mat-dialog-content >
  <div style="text-align: center;">
    <mat-icon>record_voice_over</mat-icon>
    <p>{{id}}</p>
    <br>
    <br>
    <app-word [word]="label"></app-word>
    <br>
    <br>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button color="rds-icon"  [matTooltip]="'Ejemplo'"    mat-fab type="button" (click)="useInSentence()"> <mat-icon>psychology</mat-icon></button>
  <button color="rds-icon"  [matTooltip]="'Repetir'"    mat-fab type="button" (click)="repeatWord()"> <mat-icon>replay</mat-icon></button>
  <button color="rds-icon"  [matTooltip]="'Definición'" mat-fab type="button" (click)="defineWord()"> <mat-icon>auto_stories</mat-icon></button>
</mat-dialog-actions>