<div class="my-container">
  <div style="text-align: center;">
    <img src="/assets/images/rds-bee-logo-transparent.png" height="200px" />
  </div>
<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="180px">
    @for (card of cards | async; track card) {
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card elevation-card">
        <mat-card-header>
          <mat-card-title class="dashboard-card-center" [@rubberBand]="animationState">
            <span class="view-title">{{card.title}}</span>
          </mat-card-title>
          <mat-card-subtitle style="padding-top: 15px;" class="dashboard-card-end"><div
            class="year">{{card.subtitle}}</div></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="dashboard-card-center">
         <!--  <img mat-card-md-image [src]="card.image" /> -->
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-fab extended color="default" [routerLink]="[card.route]">Ir a {{card.title.toLowerCase()}}</button>
        </mat-card-actions >
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
</div>