.grid-container {
  padding-top: 50px;
}


.dashboard-card {
  position: absolute;
  top: 0px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 1200px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-end {
  text-align: end;
}
