@if (filteredData) {
<div fxLayout="column" fxLayoutAlign="stretch center" fxLayoutGap="5px">
  <img style="text-align: center;" type="button" cdkFocusInitial (keyup.Space)="startContest(filteredData)"
    (click)="startContest(filteredData)" height="100px" src="/assets/images/space_bar.gif" />

  @if (filteredData!.length!==0) {
  <mat-chip-set class="mat-typography" aria-label="Word selection">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch">
      @for (word of filteredData; track $index) {<mat-chip [ngClass]="word.staged ? 'word-done' : ''">{{ word.id }}</mat-chip>}
    </div>
  </mat-chip-set>
  } @else {
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h2 class="text-center">
      <span>No encontré resultados.</span>
    </h2>
  </div>
  }
  <mat-paginator class="paginator" #paginator [length]="dataSource.filteredData.length" [pageSize]="size"
    (page)="linkListToPaginator($event)" [pageSizeOptions]="[25, 50, 100, 200, 250]" showFirstLastButtons
    aria-label="Select channel"></mat-paginator>
</div>
}